.ttr-search {

    position: relative;
 
    padding-right: 0px;
    padding-left: 20px;
    padding-top: 20px;

    width: 80%
 
 }

.fas.fa-search {

    position: absolute;
 
    top: 34px;
 
    left: 37px;
 
 }

 .fas.fa-gear {

    position: absolute;

    top: 34px;

    left: 950px;
 }

 .ttr-search

 input {

   background-color: #EEEEEE;

   height: 40px;

   padding-left: 40px;

   width: 100%;

   border: none;

   border-radius: 20px;

}

.ttr-gray-border {

    border: 1px lightgrey solid;
    width: 90%;
    padding-bottom: 50px;
 
 }

 .grid-row {
    clear: both;
    padding-left: 50px;
 }
 
 .grid-tab {
    list-style-type: none;
    color: rgb(140, 140, 140);
    width: 12%;
    float: left;
    padding-left: 10%;
 }

 .grid-tab-active {
    list-style-type: none;
    color: rgb(0, 0, 0);
    width: 70px;
    float: left;
    
    

    border-bottom: 1px rgb(10, 177, 255) solid;
    border-bottom-width: 5px;
    

 }

 .featured-event {
    width: 100%;
    padding-right: 115px
 }

 .featured-event-text {
    z-index: 10;
    color: white;
    float: unset;
    position: relative;
    bottom: 60px;
    left: 20px;
    
 }

 .explore-tuit {
    float: inline-end;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
 }

 .explore-tuit .explore-tuit-trend {
    color: gray;
    list-style-type: none;
 }

 .explore-tuit .explore-tuit-title {
    color: black;
    list-style-type: none;
    font-size: medium;
 }

  .tuit-ellipsis {

    float: right;
    padding-right: 25px;
    font-size: x-large;
    color: gray;

 
 }

 
   
   