

body {

    font: 14px Arial;
 
 }
 
 .ttr-navigation {
 
    list-style-type: none;
 
    padding: 0;
 
    margin: 0;
 
    color: black;
 
 }
 
 .ttr-navigation > li {
 
    padding: 5px;
 
    margin-bottom: 15px;
 
    white-space: nowrap;
 
    font-size: 1.6em;
 
    text-align: left;
 
 }
 
 .ttr-navigation .ttr-active {
 
    font-weight: bold;
 
 }
 .ttr-navigation > li > a {

    color: black;
 
    text-decoration: none;
 
 }
 
 .ttr-navigation > li {
 
    padding: 5px;
 
    margin-bottom: 15px;
 
    white-space: nowrap;
 
    font-size: 1.6em;
 
    text-align: left;
 
    cursor: pointer;
 
 }

 .ttr-navigation > li > a > i {

    width: 40px;
 
    text-align: center;
 
 }

 .ttr-navigation > li.ttr-button {

    height: 40px;
 
    background-color: rgb(29, 155, 240);
 
    font-weight: bold;
 
    text-align: center !important;
 
    margin: auto;
 
    margin-top: 10px;
 
    border-radius: 25px;
 
 }
 
 .ttr-navigation > li.ttr-button > a {
 
    color: white;
 
    position: relative;
 
    top: 5px;
    width: fit-content;
 
 }



.ttr-search {

    position: relative;
 
    padding-right: 0px;
    padding-left: 20px;
    padding-top: 20px;

    width: 80%
 
 }

.fas.fa-search {

    position: absolute;
 
    top: 34px;
 
    left: 37px;
 
 }

 .fas.fa-gear {

    position: absolute;

    top: 34px;

    left: 950px;
 }

 .ttr-search

 input {

   background-color: #EEEEEE;

   height: 40px;

   padding-left: 40px;

   width: 100%;

   border: none;

   border-radius: 20px;

}

.ttr-gray-border {

    border: 1px lightgrey solid;
    width: 90%;
    padding-bottom: 1000px;
 
 }

 .grid-row {
    clear: both;
    padding-left: 50px;
 }
 
 .grid-tab {
    list-style-type: none;
    color: rgb(140, 140, 140);
    width: 12%;
    float: left;
    padding-left: 10%;
 }

 .grid-tab-active {
    list-style-type: none;
    color: rgb(0, 0, 0);
    width: 70px;
    float: left;
    
    

    border-bottom: 1px rgb(10, 177, 255) solid;
    border-bottom-width: 5px;
    

 }

 .featured-event {
    width: 100%;
    padding-right: 115px
 }

 .featured-event-text {
    z-index: 10;
    color: white;
    position: relative;
    bottom: 60px;
    left: 20px;
 }
 
   
   