.ttr-search {

    position: relative;
 
    padding-right: 0px;
    padding-left: 20px;
    padding-top: 20px;

    width: 80%
 
 }

.fas.fa-search {

    position: absolute;
 
    top: 34px;
 
    left: 37px;
 
 }

 .fas.fa-gear {

    position: absolute;

    top: 34px;

    left: 950px;
 }

 .ttr-search

 input {

   background-color: #EEEEEE;

   height: 40px;

   padding-left: 40px;

   width: 100%;

   border: none;

   border-radius: 20px;

}

.ttr-gray-border {

    border: 1px lightgrey solid;
    width: 90%;
    padding-bottom: 50px;
 
 }

 .grid-row {
    clear: both;
    padding-left: 50px;
 }
 
 .grid-tab {
    list-style-type: none;
    color: rgb(140, 140, 140);
    width: 12%;
    float: left;
    padding-left: 10%;
 }

 .grid-tab-active {
    list-style-type: none;
    color: rgb(0, 0, 0);
    width: 70px;
    float: left;
    
    

    border-bottom: 1px rgb(10, 177, 255) solid;
    border-bottom-width: 5px;
    

 }

 .featured-event {
    width: 100%;
    padding-right: 115px
 }

 .featured-event-text {
    z-index: 10;
    color: white;
    float: unset;
    position: relative;
    bottom: 60px;
    left: 20px;
    
 }

 .explore-tuit {
    float: inline-end;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
 }

 .explore-tuit .explore-tuit-trend {
    color: gray;
    list-style-type: none;
 }

 .explore-tuit .explore-tuit-title {
    color: black;
    list-style-type: none;
    font-size: medium;
 }

  .tuit-ellipsis {

    float: right;
    padding-right: 25px;
    font-size: x-large;
    color: gray;

 
 }

 .btn-primary.override-bs {

   position: relative;

   top: 6px;

   background-color: #006eff;

   border-radius: 50px;

}

.form-control.override-bs {

   position: relative;

   padding-left: 50px;

   top: 6px;
   

   border-radius: 50px;

}

.search-icon {
   position: relative;
   right: 26px;
   bottom: 55px;
}

.gear-icon {

   position: relative;
   left: 209px;
   bottom: 29px;
   color: #006eff;
}

.featured-event {
   width:100%;
   height: 100%;
}
.featured-event-text {
   z-index:1;
   font-size: 1.2em;
   bottom: 23px;
   padding-right: 150px;
   right: 150px;
   }

.tuit-topic {
   color: gray;
   width:100%;
   margin: 0 auto;
   text-align:left;
   float: left;
}

.tuit-author {
   color: black;
   margin: 0 auto;
   float:left;
   text-align:left;
   font-weight: 500;
}

.tuit-time {
   color: gray;
   margin: 0 auto;
   text-align:left;
   padding-left: 10px;
}

.tuit-img {
   width: 70px;
   margin: 0 auto;
   text-align:right;
   float: right;
   border-radius: 15%;
}

.container {
   column-gap: 5px;
}

.suggested-follow-heading {
   float: left;
   color: black;
   font-weight: 800;
   font-size: medium;
   margin: 0;
   

}

.suggested-follow-img {
   float: left;
   border-radius: 50px;

}
.suggested-handle {
   float: left;
   color: black;
   font-weight: 300;
   font-size: medium;
   margin: 0;
   top: 15px;
}

.suggested-name {
   float: left;
   color: black;
   font-weight: 800;
   font-size: medium;
   margin: 0;
}
 
   
   