span {
    white-space:nowrap;
}

.list-group {
    /* background-color: black; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    color:rgb(31, 31, 31)
}

.list-group-item {
    color:rgb(222, 217, 217);
    background-color: rgb(24, 24, 24);

    font-size: 26px;
    justify-content: space-between;
    border: none;
}

.selected-link {
    color:rgb(211, 72, 72)
}

.list-group-item:hover {
    color: rgb(211, 191, 72)
}

.nav-link.active {
    color: red;
}


.filmdom-header {
    flex-direction: 'row';
    justify-content: 'space-between';
    font-size: 1.93em;
    font-weight: 900;
    padding-left: 20px;
}

.filmdom-header-icon { 
    font-size: 3.83em;
    padding-left: 10px;
    color: rgb(222, 217, 217)
}