/* span {
    white-space:nowrap;
} */

.list-group .navbar {
    /* background-color: black; */
    padding-left: 20px;
    padding-right: 20px;
    /* padding-top: 10px; */
    padding-bottom: 8px;
    /* position: fixed; */
    top: 0px;
    position: sticky;
    /* bottom: 0; */
    /* align-items: flex-start; */
    /* background-color: var(--secondary-bg-color); */
}

.navigation-sidebar .list-group-item {
    color: var(--main-text-color);
    /* background-color: rgb(24, 24, 24); */
    

    font-size: 16px;
    
    justify-content: space-between;
    max-width: 100%;
    
    /* border: none; */
}
.navigation-sidebar .list-group-item .nav-text {
    /* background-color: rgb(24, 24, 24); */
    

    padding-left: 10px;
    
    
    /* border: none; */
}

.navigation-sidebar .list-group-item .nav-icon svg {
    /* background-color: rgb(24, 24, 24); */
    /* height: 10px;
    width: auto; */
    /* color: red;
    fill: red; */
    height: 20px;
    width: 20px;
    /* padding-left: 0px; */
    
    
    
    /* border: none; */
}
.navigation-sidebar .list-group-item .nav-icon svg path {
    /* background-color: rgb(24, 24, 24); */
    /* height: 10px;
    width: auto; */
    /* color: red;
    fill: red; */
    fill: var(--main-text-color);
    stroke: none;
    /* padding-left: 0px; */
    
    
    
    /* border: none; */
}

.navigation-sidebar .list-group-item.active .nav-icon svg path {
    /* background-color: rgb(24, 24, 24); */
    /* height: 10px;
    width: auto; */
    /* color: red;
    fill: red; */
    fill: var(--secondary-text-color);
    stroke: none;
    /* padding-left: 0px; */
    
    
    
    /* border: none; */
}
.navigation-sidebar .list-group-item.active {
    /* background-color: rgb(24, 24, 24); */
    /* height: 10px;
    width: auto; */
    /* color: red;
    fill: red; */
    color: var(--secondary-text-color);
    /* padding-left: 0px; */
    
    
    
    /* border: none; */
}


/* .navigation-sidebar .list-group-item .nav-icon svg path {

} */

.fd-nav-item {
    justify-content: space-between;
    border: none;
    /* padding-left: 30px; */
    
}

.list-group-item:hover {
    /* color: rgb(255, 217, 0) */
}


@media (max-width: 991px) {
    .navigation-sidebar .list-group-item .nav-text {
        display: none;
    }
    .col-2.navbar {
        max-width: 60px;
    }
}

@media (max-width: 576px) {
    .navigation-sidebar {
        /* Fixed positioning at the bottom */
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%; /* Full viewport width */
        height: fit-content; /* Adjust to the height of your nav bar */
        z-index: 1000; /* Ensure it's above other content */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-bg-color); /* Or any color you prefer */
    }

    .navigation-sidebar .list-group {
        /* margin: 0; */
        /* min-width: fit-content; */
    }
    .navigation-sidebar .list-group-item {
        /* Flex grow for equal spacing */
        flex: 1;
        /* flex-basis: 0; */
        /* margin: 0; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 10px; Spacing inside each nav item */
    }
   
    /* .navigation-sidebar { */
        /* position: fixed; */
        /* bottom: 0; */
        /* left: 0; */
        /* width: 100%; */
        /* display: flex; */
        /* flex-direction: row; */
        /* height: 60px; */
        /* align-items: center; */
        /* justify-content: space-around; */

    /* } */

    .navigation-sidebar .list-group-item .nav-icon svg {
        height: 30px;
        width: 40px;
    }
    

    .navigation-sidebar .nav-text {
        display: none;
    }

   
}

