span {
    white-space:nowrap;
}

.list-group {
    /* background-color: black; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    color:rgb(31, 31, 31)
}

.list-group-item {
    color:rgb(222, 217, 217);
    background-color: rgb(24, 24, 24);

    font-size: 26px;
    justify-content: space-between;
    /* border: none; */
}

.fd-nav-item {
    justify-content: space-between;
    border: none;
}

.selected-link {
    color:rgb(211, 72, 72)
}

.list-group-item:hover {
    /* color: rgb(255, 217, 0) */
}



.pos-fixed {
    top: 0px;
    left: 0px;
}