.tabs-row {
   position: sticky;
   top: 57px;
   z-index: 10000;
}

.main-content {
   padding: 1.5rem;
}





.tabs {
   display: flex;
   background-color: var(--secondary-bg-color); /* Match the navigation sidebar's background */
 }
 .tab {
   flex-grow: 1;
   text-align: center;
   padding: 10px 20px;
   cursor: pointer;
   background-color: var(--secondary-bg-color); /* Active tab color */
   color: var(--main-text-color); /* Text color */
   border: none;
   height: 40px;
 }

 .tab.active {
   background-color: var(--main-bg-color); /* Color for active tab */
   color: var(--secondary-text-color); /* Text color for active tab */
 }
 
 .tab:not(.active):hover {
   background-color: #343640; /* Color for hover state on inactive tabs */
 }

@media (max-width: 576px) {
   .tabs-row {
      top: 91.6px;
   }

}