.container {
    display: flex;
  }
  .container.space-around {
    justify-content: space-around;
  }
  .container.space-between {  
    justify-content: space-between;
  }


  span {
    white-space:nowrap;
}

.list-group {
    /* background-color: black; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    color:rgb(31, 31, 31)
}

.list-group-item.review-box {
    color:rgb(222, 217, 217);
    background-color: rgb(24, 24, 24);

    font-size: 26px;
    justify-content: space-between;
    border: 1px solid var(--secondary-text-color);
}

.selected-link {
    color:rgb(211, 72, 72)
}

/* .list-group-item:hover {
    color: rgb(211, 191, 72)
} */

.nav-link.active {
    color: red;
}



.filmdom-header {
    flex-direction: 'row';
    justify-content: 'space-between';
    font-size: 1.93em;
    font-weight: 900;
    padding-left: 20px;
}

.user-first-name {
    color: var(--secondary-text-color);
    font-size: 23px;
    padding-left: 3%;

}
    .user-first-name:hover {
        color: #343640; 
        /* color: rgb(255, 217, 0) */
        /* box-shadow: 0 0 2px 5px #e2ce83,
              0 0 5px 7px #e6bf31,
              0 0 7px 10px #e8d388; */
    }

.review-box {
    border: 2px;
    border-color:rgb(238, 238, 238);

}

.user-handle {
        color: var(--secondary-text-color);
        font-size: 20px;
    }
        .user-handle:hover {
            color: #343640; 
        }

.link {
    /* color: #FFF; */
  }
  .link:hover {
     /* color: rgb(255, 234, 0) */
  }

.filmdom-header-icon { 
    font-size: 3.83em;
    padding-left: 10px;
    color: rgb(222, 217, 217);
}

.movie-title-poster {

    /* font-size: 2vw; */
    /* color: rgb(222, 217, 217); */
    /* text-align: left; */
    /* padding-bottom: 10px; */
    

    
}
    .movie-title-poster:hover {
        /* color: rgb(255, 217, 0) */
    }

.movie-title-review {
    padding-top: 10px;
    padding-bottom: 10px;
}

    .movie-title-review:hover {
        text-decoration: underline;
        color: var(--main-text-color);
    }

.review-text {
    font-size: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
    .review-text:hover {
        color: none;
    }

.review-item-hr {
    color: rgb(171, 171, 171);
}



.filmdom-poster {
    min-width: 20%;
    /* border: 5px solid; */
    /* border-color: rgb(0, 0, 0); */
    /* margin-top: 20px; */
    /* width: 100%; */
    /* max-width: 150px; */
    /* box-shadow: 0 0 2px 5px #e2ce83,
              0 0 5px 7px #e6bf31,
              0 0 7px 10px #e8d388; */
    

   
}

.pos-fixed {
    top: 0px;
    left: 0px;
}

.review-like {
    color: rgb(222, 217, 217) !important;
    font-size: 20px;
}
    .review-like:hover {
        /* color: rgb(255, 217, 0) !important; */

    }

.review-delete:hover {
    color: rgb(108, 0, 0)

}

.review-stats {
    color: rgb(222, 217, 217) ;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 100px;
    width: 90%;

}

.review-dislike {
    color: rgb(222, 217, 217) !important;
    
}



