.ttr-gray-border {

    border: 1px lightgrey solid;
    width: 90%;
    padding-bottom: 50px;
 
 }

 .tuit-gray-border {

    border: 1px lightgrey solid;
    width: 100%;
    padding-bottom: 50px;
 }

 .bookmarks-title {

    padding-left: 110px;
    padding-top: 20px;
    font-size: xx-large;
    position: absolute;
 }

 .title-ellipsis {

    float: right;
    padding-right: 25px;
    font-size: xx-large;
    color: black;
    padding-left: 25px;
    padding-top: 12px;

 
 }

 .fas.fa-arrow-left {

    position: absolute;
    font-size: fa-lg;

    top: 40px;

    left: 210px;
 }

 .tuit-avatar {
    padding-left: 12px;
    padding-top: 12px;
    
    width: 8%;

    border-radius: 50%
 }

 .tuit-author-name {
    position: relative;
    bottom: 50px;
    left: 10px
 }

 .tuit-author-handle-1 {
    position: relative;
    bottom: 66px;
    left: 255px;
    color: gray;
 }

 .tuit-author-handle-2 {
    position: relative;
    bottom: 66px;
    left: 160px;
    color: gray;

 }

 .tuit-date {
    position: relative;
    bottom: 50px;

 }

 .tuit-text-1 {
    position: relative;
    bottom: 60px;
    left: 110px;
 }
 .tuit-text-2 {
    position: relative;
    bottom: 75px;
    left: 110px;

 }

 .bookmark-tuit-ellipsis {

    position: relative;
    bottom: 100px;
    float: right;
    padding-right: 25px;
    font-size: x-large;
    color: gray;

 
 }

 .bookmark-tuit-link-display-border {

    border-radius: 15px;
    
    position: relative;
    left: 110px;
    border: 2px lightgray solid;
    width: 500px;
    height: 300px;
 }

 .bookmark-tuit-link-display-image {
    width: 100%;
    height: 70%;
    position: relative;
    left: 0px;
 }

 .bookmark-link-text {
    color: gray;
 }

 .tuit-metric {
    float: left;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 25px;
 }

 .far.fa-comment {

    float: left;
    padding-top: 25px;
    

    
 }

 .fa.fa-retweet {

    float: left;
    padding-top: 25px;
 }

 .fa-solid.fa-heart {

    float: left;
    padding-top: 25px;
 }

 .fa.fa-bar-chart {

    float: left;
    padding-top: 25px;
 }

 .fa-solid.fa-share {

    float: left;
    padding-top: 25px;
 }